[Desktop Entry]
Name=Mellite
Version=1.0
GenericName=Mellite
Comment=Mellite Computer Music Environment
Exec=cd /home/hhrutz/Documents/devel/Mellite && java -Xmx1024m -jar Mellite.jar
StartupWMClass=de-sciss-mellite-Mellite
Icon=/home/hhrutz/Documents/devel/Mellite/icons/application.png
Categories=Audio;AudioVideo;
Terminal=false
Type=Application
